* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primario: rgba(255, 228, 205, 1);
    --secundario: rgba(255, 179, 128,1);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px */ 
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(/img/LanternObon_Comp_Wireframe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
}

.nav-background {
    width: 100%;
    height: 13vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.0));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

}

.nav-background .logo {
    width: 50%;
    text-align: left;
    margin-left: 2%;
}

.nav-background .main-navigation {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;

}

.logo-title {
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
    display: inline-block;
    margin-top: 2%;
}

.logo-title span {
    font-size: 2.5rem;
}

.logo-subtitle {
    font-family: Monserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 2em;
    color: rgba(255, 228, 205, 0.993);
}

.links-contact {
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
    
}

.links-contact .contact-icons {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 6.3%;
}

.links-contact .contact-icons a:hover {
    transform: scale(1.1);
}

footer {
    background: rgba(27, 27, 27, 0.8);
    position:absolute;
    bottom:0;
    width:100%;
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-text {
    text-transform: uppercase;
    font-family:futura-pt;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
    color: white;
}

.nav-background .main-navigation .main-menu .close-menu {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}
.nav-background .main-navigation .open-menu {
    display: none;
    font-size: 2rem;
    margin: 2rem;
    cursor: pointer;
}

.nav-background .main-navigation .main-menu {
    display: flex;
    list-style: none;
}

.nav-background .main-navigation .main-menu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family:futura-pt;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
}

.nav-background .main-navigation .main-menu a:hover{
    text-decoration-line:underline;
    text-decoration-thickness: 0.1rem;
    text-underline-position: under;
    transform: scale(1.1);
    color: var(--secundario);
}

main{
    color: white;
    background: linear-gradient(rgba(0,0,0, 0.85), rgba(0,50,100, 0.5));
    height: 80%;
    width: 90%;
    margin: auto;
    border-radius: 5rem;
}

main .main-section {
    display: flex;
}

main .progress-img {
    border-radius: 50%;
    width: 30%;
    height: auto;
    display:none;
}

main .perfil-foto {
    width: 35rem;
    border-radius: 10%;
    position: relative;
    margin-top: 2%;
    margin-left: 2%;
}

main .text-container {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    width: 100%;
    height: auto;
    position: relative;
    padding: 3%;
    margin: 2% 2%;
}
main .about-title {
    font-family: Monserrat;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: .35em;
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    text-shadow: black 2px 5px;
    color: var(--secundario);
    text-transform: uppercase;
}

main .about-text {
    margin: 5% auto;
    font-family: Monserrat;
    color: white;
}

@media (max-width: 1500px) {
    .logo-title{
        font-size: 2rem;
    }

    .logo-title span {
        font-size: 1.5rem;
    }

    .logo-subtitle {
        font-size: 1rem;
    }

    main {
        width: 90%;
    }
}

@media (max-width: 800px) {

    .nav-background {
        height: 15vh;
        display: block;
    }
    .nav-background .logo{
        width: 100%;
        display: block;
        text-align: center;
    }

    .nav-background .main-navigation {
        width: 5rem;
    }

    .logo-title {
        font-size: 1.9rem;
        margin-top: 6%;
    }

    .logo-title span {
        font-size: 1rem;
    }

    .logo-subtitle {
        font-size: 0.7rem;
    }

    .nav-background .main-navigation {
        display:block;
    }

    .nav-background .main-navigation .main-menu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 80, 120, 0.5);
        transition: top 1s ease;
        display: none;
    }

    .nav-background .main-navigation .main-menu .close-menu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .nav-background .main-navigation .open-menu {
        display: block;
        margin-top: 92%;
    }

    .footer-text {
        font-size: 0.7rem;
    }

    main {
        width: 90%;
    }

    main .main-section{
        display: inline-block;
    }

    main .about-title {
        font-size: 2.5rem;
    }

    main .perfil-foto {
        width: 20rem;
        left: 50%;
        transform: translate(-50%);
        margin-top: 5%;
    }
    
}
