* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primario: rgba(255, 228, 205, 1);
    --secundario: rgba(255, 179, 128,1);
    --terciario: rgb(136, 201, 255);
    --subtitle: rgb(185, 224, 255);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px */ 
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1)), url(/img/LanternObon_Comp_Wireframe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
}

.nav-background {
    width: 100%;
    height: 13vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.0));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

}

.nav-background .logo {
    width: 50%;
    text-align: left;
    margin-left: 2%;
}

.nav-background .main-navigation {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;

}

.logo-title {
    font-family: 'Arapey', serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
    display: inline-block;
    margin-top: 2%;
}

.logo-title span {
    font-size: 2.5rem;
}

.logo-subtitle {
    font-family: 'Arapey', serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 2em;
    color: var(--subtitle);
}

.links-contact {
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}

.links-contact .contact-icons {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 6.3%;
}

.links-contact .contact-icons a:hover {
    transform: scale(1.1);
}

footer {
    background: rgba(27, 27, 27, 0.8);
    position:absolute;
    bottom:0;
    width:100%;
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-text {
    text-transform: uppercase;
    font-family:futura-pt;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
    color: white;
}

.nav-background .main-navigation .main-menu .close-menu {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}
.nav-background .main-navigation .open-menu {
    display: none;
    font-size: 2rem;
    margin: 2rem;
    cursor: pointer;
}

.nav-background .main-navigation .main-menu {
    display: flex;
    list-style: none;
    margin: auto -10rem;
}

.nav-background .main-navigation .main-menu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: 'Arapey', serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
}

.nav-background .main-navigation .main-menu a:hover{
    text-decoration-line:underline;
    text-decoration-thickness: 0.1rem;
    text-underline-position: under;
    transform: scale(1.1);
    color: var(--terciario);
}

main{
    color: white;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,2,5,0.7));
    height: 80%;
    width: auto;
    margin: auto;
    border-radius: 1rem;
    overflow-y: auto;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monserrat;
    background: none;
}
header#blur.active {
    filter:blur(10px);
    pointer-events: none;
    user-select: none;
}

main section{
    padding: 2rem;
    width: auto;
    margin: 4rem auto;
}

main section ul {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

main section ul li {
    list-style: none;
    background: #eee;
    color: black;
    padding: 0.8rem 2rem;
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border-radius: 20px;
}

main section ul li.active {
    background: #03a9f4;
    color: #fff;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items .itemBox {
    position: relative;
    width: 30rem;
    height: 30rem;
    margin: 0.5rem;
    overflow: hidden;
}

.items .itemBox:hover {
    z-index: 1;
    transform: scale(1.15);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.items .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.items .itemBox .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0,0,0,0), black);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.items .itemBox:hover .image::before {
    opacity: 1;
}

.items .itemBox .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 2rem;
    align-items: flex-end;
}

.items .itemBox .content h1{
    color: var(--terciario);
    transition: 0.2s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 2rem;
    transform: translateY(20rem);

}

.items .itemBox:hover .content h1{
    transform: translateY(0);
    transition-delay: 0.3s;
}

.items .itemBox .content p {
    color: white;
    transform: translateY(20rem);
    transition: 0.2s;
    font-size: 1.4rem;
}

.items .itemBox:hover .content p {
    transform: translateY(0);
    transition-delay: 0.4s;
}

.items .itemBox .content div a img{
    opacity: 0;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    padding: 5rem;
    box-shadow: 0 5px 3rem rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2rem;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup a {
    color: var(--terciario);
    font-size: 3rem;
    text-decoration-line: none;
    float: right;
    margin-top: -2rem;
}

iframe {
    margin: auto 0;
}
#popup iframe {
    width: 1400px;
    height: 787.5px;

    width: 100%;
    height: 100%;
}

@media (max-width: 1500px) {
    .logo-title{
        font-size: 2rem;
    }

    .logo-title span {
        font-size: 1.5rem;
    }

    .logo-subtitle {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {

    .nav-background {
        height: 15vh;
        display: block;
    }
    .nav-background .logo{
        width: 100%;
        display: block;
        text-align: center;
    }

    .nav-background .main-navigation {
        width: 5rem;
    }

    .logo-title {
        font-size: 1.9rem;
        margin-top: 6%;
    }

    .logo-title span {
        font-size: 1rem;
    }

    .logo-subtitle {
        font-size: 0.7rem;
    }

    .nav-background .main-navigation {
        display:block;
    }

    .nav-background .main-navigation .main-menu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 80, 120, 0.5);
        transition: top 1s ease;
        display: none;
    }

    .nav-background .main-navigation .main-menu .close-menu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .nav-background .main-navigation .open-menu {
        display: block;
        margin-top: 92%;
    }

    .footer-text {
        font-size: 0.7rem;
    }
}
