* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primario: rgba(255, 228, 205, 1);
    --secundario: rgba(255, 179, 128,1);
    --terciario: rgb(136, 201, 255);
    --subtitle: rgb(185, 224, 255);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px */
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8) 10%, rgba(0,0,0,0) 60%), url(/img/LanternObon_Comp_Wireframe5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
}

.nav-background {
    width: 100%;
    height: 13vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.0));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.nav-background .logo {
    width: 50%;
    text-align: left;
    margin-left: 2%;
}

.nav-background .main-navigation {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;

}

.logo-title {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
    display: inline-block;
    margin-top: 2%;
    font-family: 'Arapey', serif;
}

.logo-title span {
    font-size: 2.5rem;
}

.logo-subtitle {
    font-family: 'Arapey', serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 2em;
    color: var(--primario);
}

.links-contact {
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
    
}

.links-contact .contact-icons {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 6.3%;
}

.links-contact .contact-icons a:hover {
    transform: scale(1.1);
}

footer {
    background: rgba(27, 27, 27, 0.8);
    position:absolute;
    bottom:0;
    width:100%;
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-text {
    text-transform: uppercase;
    font-family:futura-pt;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
    color: white;
}

.nav-background .main-navigation .main-menu .close-menu {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}
.nav-background .main-navigation .open-menu {
    display: none;
    font-size: 2rem;
    margin: 2rem;
    cursor: pointer;
}

.nav-background .main-navigation .main-menu {
    display: flex;
    list-style: none;
    margin: auto -10rem;
}

.nav-background .main-navigation .main-menu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: 'Arapey', serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
}

.nav-background .main-navigation .main-menu a:hover{
    text-decoration-line:underline;
    text-decoration-thickness: 0.1rem;
    text-underline-position: under;
    transform: scale(1.1);
    color: var(--secundario);

}

main section {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

main section li {
    list-style: none;
    text-align: center;
    margin: 5rem auto;
}
main section a {
    color: var(--secundario);
    font-size: 2rem;
    height: 100%;
    width: 100%;
    border-color: var(--secundario);
    letter-spacing: 3px;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Source Code Pro;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 20px;
    border-radius: 2rem;
    font-family: 'Arapey', serif;
}

main section li:hover{
    transform: scale(1.1);
}

main section a:hover {
    color: var(--terciario);
    border-color: var(--terciario);
}

main section h2 {
    color: white;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    text-shadow: 5px 1px 3px rgb(0, 0, 0);
    font-family: 'Arapey', serif;
}

main section h3 {
    color: rgb(255, 150, 20);
    color: white;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .35em;
    line-height: 1em;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    text-shadow: 5px 1px 3px rgb(0, 0, 0);
    font-family: 'Arapey', serif;
}


@media (max-width: 1500px) {
    .logo-title{
        font-size: 2rem;
    }

    .logo-title span {
        font-size: 1.5rem;
    }

    .logo-subtitle {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {

    .nav-background {
        height: 15vh;
        display: block;
    }
    .nav-background .logo{
        width: 100%;
        display: block;
        text-align: center;
    }

    .nav-background .main-navigation {
        width: 5rem;
    }

    .logo-title {
        font-size: 1.9rem;
        margin-top: 6%;
    }

    .logo-title span {
        font-size: 1rem;
    }

    .logo-subtitle {
        font-size: 0.7rem;
    }

    .nav-background .main-navigation {
        display:block;
    }

    .nav-background .main-navigation .main-menu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 80, 120, 0.5);
        background: linear-gradient(rgba(0, 0, 0, 0.9) 20%, rgba(0,0,0,0.8) 80%);
        transition: top 1s ease;
        display: none;
    }

    .nav-background .main-navigation .main-menu .close-menu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .nav-background .main-navigation .open-menu {
        display: block;
        margin-top: 92%;
    }

    .footer-text {
        font-size: 0.7rem;
    }

    main section h2 {
        font-size: 4rem;
        text-align: center;
    }
    main section h3 {
        font-size: 2.5rem;
        text-align: center;
    }
}
